:root {
    --primary-color: #7a2048;
    --secondary-color: rgb(207, 171, 221);
    --tertiary-color: #1e2761;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
  }

  /* header styles */

  header {
      display: flex;
      justify-content: space-between;
      background-color: var(--tertiary-color);
     
  }

  header nav {
      margin: 7px 30px 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    
  }

  header nav ul li {
    margin: 10px 30px 10px 0;
  }
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-shadow: none;
  }

  header h1 {
   
    margin: 5px 0 5px 0;
    font-size: 30px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 5px 5px 5px 60px;
    
 
  }

  header a {
    text-decoration: none;
    color: var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);

  }

  /* hero styles start */
  
  .hero {
      background-image: url('../images/background.jpg');
      background-size: cover;
      display:flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: flex-end;
      background-attachment: fixed;
      background-position: 99%;
      height: 200px;
    
  }

  .subtitle {
      color: var(--primary-color);
      background-color: var(--secondary-color);
      margin: 0 60px 15px 0;
      padding: 5px;
  }

  /*big body */
  .big-body {
    margin: 0 60px 0 0;
  }
  /* about styles */

  .about-text {
      color: var(--tertiary-color);
      display: flex;
      flex-wrap: wrap;
      width: 70%;
      font-size: 18px;
      padding: 0 0 0 30px;
      margin: 0 0px 0 0;
      border-left: 3px solid var(--tertiary-color);
  }

  /* work styles */

 .nav-style {
     width: 20%;
     color: var(--primary-color);
     text-align: right;
     font-size: 36px;
     padding: 0 15px 0 0;
     box-sizing: border-box;

 }
/*AKA TRAINERS*/
 .work {
     width: 100%;
     margin: 0 auto;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 }
/* WORK IMAGES*/
  .flex-projects {
      display: flex;
      align-items: flex-start;
      margin: 15px 0 15px 0;
  }


  .flex-images {
      flex: 1; 
      border-left: 3px solid var(--tertiary-color);  
      display: flex; 
      flex-flow: row wrap;
      padding: 0 0 0 30px;
      margin: auto 60px auto auto;
      justify-content:space-between;
      

  }

  .flex-images img {
    border: 3px solid var(--secondary-color);

  }

  .first-image {
      width: 100%;
   
  }
  .parent {
    width: 80%;
    
    padding: 30px;
   /*display: flex; 
   flex-flow: row wrap; /*flex-direction flex-wrap*/
   justify-content: space-between;
   border-left: 3px solid var(--tertiary-color);
   padding: 0 0 0 30px;
   
}

.div1 {
    
    box-sizing: border-box;
    width: 100%;
    flex: 1;
    margin: 3px 0 0 0;
    display: flex;
  
  
}

.runbuddy  {
  width: 100%;
  border: 3px solid var(--primary-color);
}

.div2 {
    
    margin: 5px 0 5px 0;
    
    height: auto;
    font-size: 30px;
    display: flex;
    box-sizing: border-box;

}

.other-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.other-img {
  height: 300px;
  margin: auto;
 width:35vw;
 border: 3px solid var(--primary-color);
 
  
}

  .horiseon {
    position: relative;
    display: flex;
    margin: 0 15px 15px 0;
    
  }

  .robot-gladiators {
    position: relative;
    display: flex;
    align-self: flex-start;
  }
  

  .puppies {
    position: relative;
    display: flex;
    margin: 0 15px 0 0;
  }

  .youtube {
    position: relative;
    display: flex;
  }


  .run-buddy-box {
    z-index: 99;
    width:fit-content;
    position: relative;
    left: 10px;
    bottom: 50px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    width: 15%;
  }
  .horiseon-box {
    z-index: 99;
    width:fit-content;
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    width: 35%;
  }  
  .puppies-box {
    z-index: 99;
    width:fit-content;
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    width: 35%;
  }  
  .youtube-box {
    z-index: 99;
    width:fit-content;
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    width: 35%;
  } 
   .robot-box {
    z-index: 99;
    width:fit-content;
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    width: 35%;
  }



    
  

  /* utility */
  .flex-row {
    display: flex;
    margin: 30px 0 15px 0;
  }

  /* contact info styles */

  .flex-projects-contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0 15px 0;
  }

  .contact-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    list-style: none;
   flex: 1;    
    border-left: 3px solid var(--tertiary-color);
    padding: 30px 0 30px 30px;
    margin: 0 60px 0 0;
    
  }
    

  .contact-ul li {
      margin: 10px;

    border-bottom: 3px solid var(--primary-color);

  }
  .contact-ul a {
    text-decoration: none;
    color: var(--tertiary-color);
    
  }

  /*MEDIA QUERIES START */

  /* first breakpoint = 1080px */

  @media screen and (max-width: 1080px) {
    h2 {
      color:yellowgreen;
    }

    .flex-row {
      flex: 1 100%;
    }
    .flex-projects {
      flex: 1 100%;
    }
  }